name: kgsum

services:
  ml:
    build:
      context: ../
      dockerfile: docker/ml/Dockerfile
    container_name: kgsum
    ports:
      - "5000:5000"
    environment:
      - TZ=UTC
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - LOCAL_ENDPOINT_LOV=${LOCAL_ENDPOINT_LOV}
      - LOCAL_ENDPOINT=${LOCAL_ENDPOINT}
      - SECRET_KEY=${SECRET_KEY}
      - UPLOAD_FOLDER=${UPLOAD_FOLDER}
      - CLERK_MIDDLEWARE_ENABLED=${CLERK_MIDDLEWARE_ENABLED}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - GRAPHDB_USER=${GRAPHDB_USER}
      - GRAPHDB_PASSWORD=${GRAPHDB_PASSWORD}
    restart: unless-stopped
 #   command: ["bash", "boot.sh"]

  kgsum-frontend:
    build:
      context: ../
      dockerfile: docker/web/Dockerfile
    container_name: kgsum-frontend
    ports:
      - "8085:80"
      - "4435:443"
    environment:
      - NODE_ENV=production
      - PORT=80
      - TZ=UTC
      - BUILD_DATE=2025-07-18 14:02:05
      - BUILD_USER=mariocosenza
      - CLASSIFICATION_API_URL=${CLASSIFICATION_API_URL}
      - UPLOAD=${UPLOAD}
    restart: unless-stopped
    user: "0:0"
    labels:
      - "maintainer=mariocosenza"
      - "build.date=2025-07-18 14:02:05"
      - "version=latest"
      - "project=kgsum-frontend"
    depends_on:
      - ml

  graphdb:
    build:
      context: ../
      dockerfile: docker/graphdb/Dockerfile
    container_name: graphdb
    ports:
      - "7400:7200"
    environment:
      - TZ=UTC
      - Dgraphdb.external-url=http://localhost:7400/kgsum/
    restart: unless-stopped
    volumes:
      # Optional: persist GraphDB data
      - graphdb_data:/opt/graphdb/home

volumes:
  graphdb_data: